# Composer
vendor/
composer.lock

# Grunt
package-lock.json
node_modules/

# Build artifacts
build/

# Test coverage
tests/coverage/

# PHPUnit
.phpunit.result.cache

# macOS
.DS_Store

# Atom/Serenata
.serenata
