parameters:
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    earlyTerminatingMethodCalls:
        WP_CLI:
            - error
            - halt
    bootstrapFiles:
        # Missing constants, function and class stubs
        - tests/phpstan/constants.php
        - tests/phpstan/external-classes.php
        - tests/phpstan/external-functions.php
    scanFiles:
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    paths:
        - avatar-privacy.php
        - uninstall.php
        - includes/
        - admin/partials/
        - public/partials/

    excludePaths:
        analyse:
            - vendor/
