#$ composer update --optimize-autoloader
#$ vendor/bin/phpstan analyze

includes:
    # @see https://github.com/phpstan/phpstan-src/blob/master/conf/bleedingEdge.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    # Include the WordPress extension
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    bootstrapFiles:
        # Missing constants, function and class stubs
        - tests/phpstan/constants.php
        - tests/phpstan/external-classes.php
        - tests/phpstan/external-functions.php
    scanFiles:
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    paths:
        - includes/
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
        - '#^Method Mundschenk_WP_Requirements::display_error_notice\(\) invoked with [234567] parameters, 1 required\.$#'
